<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glib" version="2.36.2.11" targetFramework="native" />
  <package id="glib.redist" version="2.36.2.11" targetFramework="native" />
  <package id="libffi" version="3.0.10.3" targetFramework="native" />
  <package id="libffi.redist" version="3.0.10.3" targetFramework="native" />
  <package id="libintl" version="0.18.2.1" targetFramework="native" />
  <package id="libintl.redist" version="0.18.2.1" targetFramework="native" />
  <package id="zlib" version="1.2.7.30" targetFramework="native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="native" />
</packages>